{% extends "dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
    .bg-img{
    background:url("/static/images/cover.jpg");
}
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-img py-5 text-center text-light">
            <h1>Profil &gt; Profili Duzenle</h1>
        </div>
        <div class="col-md-6 mx-auto p-3 bg-light my-2">
            <div class="text-center">
                {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" style="height:150px;width:150px;border-radius:50%">
                {% else %}
                <img src="{% static 'images/user.png' %}" style="height:150px;width:150px;border-radius:50%">
                {% endif %}
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if status %}
                    <div class="alert alert-primary">{{status}}</div>
                {% endif %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Isim</label>
                            <input type="text" class="form-control" name="fname" placeholder="doldurun" value="{{user.first_name}}">
                        </div>
                        <div class="col-md-6">
                            <label>Soyad</label>
                            <input type="text" class="form-control" name="lname" placeholder="doldurun" value="{{user.last_name}}">
                        </div>
                        <div class="col-md-6">
                            <label>Mail</label>
                            <input type="email" class="form-control" name="email" placeholder="doldurun" value="{{user.email}}">
                        </div>
                        <div class="col-md-6">
                            <label>Profil Resmi</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Numara</label>
                            <input type="text" value="{{data.contact_number}}" class="form-control" name="contact" placeholder="doldurun" pattern="[0-9]{10}" title="Number must contain 10 digits only!!">
                        </div>
                        <div class="col-md-6">
                            <label>Yas</label>
                            <input type="number" class="form-control" name="age" placeholder="doldurun" min="15" max="99"
                            value="{{data.age}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>City</label>
                            <input type="text" class="form-control" name="city" placeholder="doldurun" value="{{data.city}}">
                        </div>
                        <div class="col-md-6">
                            <label>Cinsiyet</label>
                  
                            <select name="gender"  class="form-control">
                                <option value="Male">Erkek</option>

                                {% if data.gender == "Female" %}
                                <option value="Female" selected>Kadin</option>
                                {% else %}
                                <option value="Female">Kadin</option>
                                {% endif %}

                                {% if data.gender == "Others" %}
                                <option value="Others" selected>Baska</option>
                                {% else %}
                                <option value="Others">Baska</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tercih</label>
                    <input type="text" class="form-control" placeholder="doldurun" name="occ" value="{{data.occupation}}">
                </div>
                
                <div class="form-group">
                    <label>Hakkinda</label>
                    <textarea name="about" placeholder="doldurun" class="form-control">{{data.about}}</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="changeprofile" value="Save Changes" class="btn btn-danger" style="width:50%;border-radius:20px;">
                </div>


            </form>
        </div>
    </div>
</div>
{% endblock %}