{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 px-0"  style="background:url('/static/images/3.jpg');background-size:100% 100%;">
            <div  class="h-100" style="background:rgba(0,0,0,0.5)"></div>
        </div>
        <div class="col-md-6">
            <h1>Kayit ol</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">AD</label>
                            <input type="text" class="form-control" placeholder="Ad gir" name="first">
                        </div>
                        <div class="col-md-6">
                            <label for="">SOYAD</label>
                            <input type="text" class="form-control" placeholder="Soyad gir" name="last">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p id="result"></p>
                </div>
                <div class="form-group">
                    <label for="">Kullanici adi</label>
                    <input type="text" class="form-control" placeholder="Kullanici adi gir" name="uname" id="username" onkeyup="checkuser()">
                </div>
                <div class="form-group">
                    <label for="">Sifre</label>
                    <input type="password" class="form-control" placeholder="Sifre gir" name="password">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" placeholder="Email gir" name="email">
                </div>
                <div class="form-group">
                    <label for="">Numara</label>
                    <input type="number" class="form-control" placeholder="Numara gir" name="contact">
                </div>
                <div class="form-group">
                    <label for="">Kullanici</label>
                    <select name="utype" class="form-control">
                        <option value="cust">Kullanici</option>
                        <option value="sell">Satici</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kayit ol" class="btn btn-success" id="submitbtn">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if(data=="Exists"){
                    $("#result").html("Kullanici adi kullaniliyor").addClass("text-danger");
                    $("#username").addClass("alert alert-danger");
                    $("#submitbtn").attr("disabled","disabled");
                }else{
                    $("#result").html("");
                    $("#username").removeClass("alert alert-danger")
                    $("#submitbtn").removeAttr("disabled");
                }
            }
        })
        
    }
</script>
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>
{% endif %}
{% endblock %}